@font-face {
	font-family: "Besmellah";
	src: url("./Besmellah.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "ShapedBesmellah";
	src: url("./ShapedBesmellah.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "IranNastaliq";
	src: url("./IranNastaliq.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lotus";
	src: url("./Lotus.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Morvarid";
	src: url("./Morvarid.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Nazanin";
	src: url("./Nazanin.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Titr";
	src: url("./Titr.bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Traffic";
	src: url("./Traffic.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Yekan";
	src: url("./Yekan.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Zar";
	src: url("./Zar.regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}